.membership{
    padding:120px 10%;
    background:#000;
    color:white;
    text-align:center;
}


.section-tag{
    color:#facc15;
    font-weight:700;
    letter-spacing:4px;
    margin-bottom:20px;
}

.section-title{
    font-size:60px;
    margin-bottom:70px;
}

.membership-container{
    display:flex;
    justify-content:center;
    gap:35px;
    flex-wrap:wrap;
}

.membership-card{
    background:#111;
    width:330px;
    padding:45px 35px;
    border-radius:20px;
    transition:.4s;
}
.plan-tag{
    display:inline-block;
    background:black;
    color:#facc15;
    padding:6px 14px;
    border-radius:30px;
    font-size:12px;
    margin-bottom:18px;
}
.membership-card:hover{
    transform:translateY(-12px);
    box-shadow:0 15px 40px rgba(250,204,21,.25);
}

.membership-card h3{
    font-size:32px;
    margin-bottom:20px;
}

.membership-card h1{
    font-size:55px;
    color:#facc15;
    margin-bottom:35px;
}

.membership-card h1 span{
    font-size:18px;
    color:#bbb;
}

.membership-card ul{
    list-style:none;
    padding:0;
    margin-bottom:35px;
}

.membership-card ul li{
    display:flex;
    align-items:center;
    gap:12px;
    margin:18px 0;
    font-size:18px;
}

.membership-card svg{
    color:#facc15;
}

.membership-card button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:50px;
    background:#facc15;
    color:black;
    font-size:18px;
    font-weight:700;
    cursor:pointer;
    transition:.3s;
}

.membership-card button:hover{
    background:white;
}

.featured{
    background:#facc15;
    color:black;
    transform:scale(1.05);
    box-shadow:0 0 35px rgba(250,204,21,.35);
}


.featured h1{
    color:black;
}

.featured h1 span{
    color:#444;
}

.featured svg{
    color:black;
}

.featured button{
    background:black;
    color:#facc15;
}

.featured button:hover{
    background:#222;
}